@using BeltExam.Models
@model LoginRegViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Belt Exam</title>
    <link rel="stylesheet" href="~/css/Index.css">
</head>
<body>
    <div class="container">
        <h1 class="header">Welcome to the Dojo Activity Center</h1>
        <div class="register">
            <h1>Register</h1>
            <form asp-action="Register" asp-controller="Home" method="post">
                <div class="form-group">
                    <label asp-for="RegUser.FirstName"></label>
                    <input class="form-control" type="text" asp-for="RegUser.FirstName">
                    <span asp-validation-for="RegUser.FirstName" class="text-danger"></span>
                </div>
                <!-- <div class="form-group">
                    <label asp-for="RegUser.LastName"></label>
                    <input class="form-control" type="text" asp-for="RegUser.LastName">
                    <span asp-validation-for="RegUser.LastName" class="text-danger"></span>
                </div> -->
                <div class="form-group">
                    <label asp-for="RegUser.Email"></label>
                    <input class="form-control" type="text" asp-for="RegUser.Email">
                    <span asp-validation-for="RegUser.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegUser.Password"></label>
                    <input class="form-control" type="password" asp-for="RegUser.Password">
                    <span asp-validation-for="RegUser.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RegUser.ConfirmPassword">Confirm Password</label>
                    <input class="form-control" type="password" asp-for="RegUser.ConfirmPassword">
                    <span asp-validation-for="RegUser.ConfirmPassword" class="text-danger"></span>
                </div>
                <button class="btn btn-primary">Sign up</button>
            </form>
        </div>
        <div class="login">
            <h1>Login</h1>
            <form asp-action="LoginUser" asp-controller="Home" method="post">
                <div class="form-group">
                    <label asp-for="LogUser.Email"></label>
                    <input class="form-control" type="text" asp-for="LogUser.Email">
                    <span class="text-danger" asp-validation-for="LogUser.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LogUser.Password"></label>
                    <input class="form-control" type="password" asp-for="LogUser.Password">
                    <span class="text-danger" asp-validation-for="LogUser.Password" class="text-danger"></span>
                </div>
                <button class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
</body>
</html>